# configuracion base de datos
db.url=jdbc:postgresql://localhost:5432/db_asur
db.user=PROYECTO
db.password=proyecto123

# configuracion smtp para envio de emails
mail.smtp.host=smtp.gmail.com
mail.smtp.port=587
mail.smtp.user=tu_correo@gmail.com
mail.smtp.password=tu_app_password
mail.from=noreply@asur.uy
mail.smtp.starttls=true
mail.smtp.ssl=false
